services:

  kafka:
    image: apache/kafka:3.7.0
    container_name: kafka
    ports:
      - "9092:9092"
      - "9094:9094"
    environment:
      KAFKA_NODE_ID: 0
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,EXTERNAL://localhost:9094
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 0@kafka:9093
    networks:
      - patient_net

  billing-systems:
    build: "./billing-systems"
    container_name: billing-systems
    environment:
      TZ: Asia/Kolkata
      JAVA_OPTS: -Duser.timezone=Asia/Kolkata
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    ports:
      - "8090:8090"
      - "9001:9001"
    depends_on:
      - kafka
    networks:
      - patient_net

  patient-service:
    build: "./Patient-Services"
    container_name: patient-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://patient-service-database:5432/patient_data
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    depends_on:
      patient-service-database:
        condition: service_healthy
      kafka:
        condition: service_started
      billing-systems:
        condition: service_started
    networks:
      - patient_net

  patient-service-database:
    image: postgres:16
    container_name: patient-service-database
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: patient_data
      TZ: Asia/Kolkata
    ports:
      - "5000:5432"
    volumes:
      - patient_db_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U root -d patient_data" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - patient_net



volumes:
  patient_db_data:

networks:
  patient_net:
    driver: bridge
